@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@mixin btn_styles {
  margin: 50px 5px;
  width: 200px;
  height: 35px;
  border-radius: 4px;
  font-family: $font;
}

@mixin card-styles{
    width: auto;
    height: 230px;
    border: 10px;
    border-color: black;
    margin: 20px;
    padding: 20px;
    box-shadow:  5px 5px 10px  rgb(220, 218, 218), -5px 5px 10px rgb(220, 218, 218);
    border-radius: 40px;
    transform-style: preserve-3d;
}

$font: "JetBrains Mono";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navigation {
  border: 2px;
  border-color: black;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  box-shadow: 40px 0 15px grey;

  .first-heading {
    color: rgb(242, 172, 44);
    font-family: $font, monospace;
    font: weight 300px;
  }

  i {
    display: inline;
    margin: 30px;
  }
}

.second-main {
  margin: 40px 75px;


  .second-section {
    display: flex;
    border: 2px;
    width: 100%;
    height: 350px;
    border-radius: 10px;
    box-shadow: 8px 10px 10px grey;
    margin-bottom: 37px;

    img {
      width: 500px;
      height: 100%;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    .info {
      margin: 30px;

      .sec-heading {
        font-family: $font;
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 25px;
      }

      p {
        font-family: $font;
        font-weight: lighter;

        a {
          color: black;
        }
      }
      .btn-1 {
        @include btn-styles;
        background-color: rgba(243, 183, 18, 0.895);
      }
      .btn-2 {
        @include btn-styles;
        color: rgba(255, 190, 11, 0.895);
        background-color: transparent;
      }
    }
  }

  .third-section{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 280px);

    .card1 {
     @include card-styles;
    }
    .card2 {
        @include card-styles;
       }
       .card3 {
        @include card-styles;
       }
       .card4 {
        @include card-styles;
       }
       .card5 {
        @include card-styles;
       }

       .card6{
            @include card-styles;
           
       }

       .card-heading{
        font-family: $font;
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: 30px;
       }

       .card-para{
        font-family: $font;
        font-weight: 80;
        word-spacing: 3px;
        color: rgb(60, 60, 60);
       }
       
  }
}

footer{
    background-color: black;
    text-align: center;
    height: 50px;
    font-family: $font;
    padding-top: 3px;
    li{
        color: white;
      display: inline;
      margin: 5px;
    }
   
}