@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation {
  border: 2px;
  border-color: black;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  box-shadow: 40px 0 15px grey;
}
.navigation .first-heading {
  color: rgb(242, 172, 44);
  font-family: "JetBrains Mono", monospace;
  font: weight 300px;
}
.navigation i {
  display: inline;
  margin: 30px;
}

.second-main {
  margin: 40px 75px;
}
.second-main .second-section {
  display: flex;
  border: 2px;
  width: 100%;
  height: 350px;
  border-radius: 10px;
  box-shadow: 8px 10px 10px grey;
  margin-bottom: 37px;
}
.second-main .second-section img {
  width: 500px;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.second-main .second-section .info {
  margin: 30px;
}
.second-main .second-section .info .sec-heading {
  font-family: "JetBrains Mono";
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 25px;
}
.second-main .second-section .info p {
  font-family: "JetBrains Mono";
  font-weight: lighter;
}
.second-main .second-section .info p a {
  color: black;
}
.second-main .second-section .info .btn-1 {
  margin: 50px 5px;
  width: 200px;
  height: 35px;
  border-radius: 4px;
  font-family: "JetBrains Mono";
  background-color: rgba(243, 183, 18, 0.895);
}
.second-main .second-section .info .btn-2 {
  margin: 50px 5px;
  width: 200px;
  height: 35px;
  border-radius: 4px;
  font-family: "JetBrains Mono";
  color: rgba(255, 190, 11, 0.895);
  background-color: transparent;
}
.second-main .third-section {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 280px);
}
.second-main .third-section .card1 {
  width: auto;
  height: 230px;
  border: 10px;
  border-color: black;
  margin: 20px;
  padding: 20px;
  box-shadow: 5px 5px 10px rgb(220, 218, 218), -5px 5px 10px rgb(220, 218, 218);
  border-radius: 40px;
  transform-style: preserve-3d;
}
.second-main .third-section .card2 {
  width: auto;
  height: 230px;
  border: 10px;
  border-color: black;
  margin: 20px;
  padding: 20px;
  box-shadow: 5px 5px 10px rgb(220, 218, 218), -5px 5px 10px rgb(220, 218, 218);
  border-radius: 40px;
  transform-style: preserve-3d;
}
.second-main .third-section .card3 {
  width: auto;
  height: 230px;
  border: 10px;
  border-color: black;
  margin: 20px;
  padding: 20px;
  box-shadow: 5px 5px 10px rgb(220, 218, 218), -5px 5px 10px rgb(220, 218, 218);
  border-radius: 40px;
  transform-style: preserve-3d;
}
.second-main .third-section .card4 {
  width: auto;
  height: 230px;
  border: 10px;
  border-color: black;
  margin: 20px;
  padding: 20px;
  box-shadow: 5px 5px 10px rgb(220, 218, 218), -5px 5px 10px rgb(220, 218, 218);
  border-radius: 40px;
  transform-style: preserve-3d;
}
.second-main .third-section .card5 {
  width: auto;
  height: 230px;
  border: 10px;
  border-color: black;
  margin: 20px;
  padding: 20px;
  box-shadow: 5px 5px 10px rgb(220, 218, 218), -5px 5px 10px rgb(220, 218, 218);
  border-radius: 40px;
  transform-style: preserve-3d;
}
.second-main .third-section .card6 {
  width: auto;
  height: 230px;
  border: 10px;
  border-color: black;
  margin: 20px;
  padding: 20px;
  box-shadow: 5px 5px 10px rgb(220, 218, 218), -5px 5px 10px rgb(220, 218, 218);
  border-radius: 40px;
  transform-style: preserve-3d;
}
.second-main .third-section .card-heading {
  font-family: "JetBrains Mono";
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.second-main .third-section .card-para {
  font-family: "JetBrains Mono";
  font-weight: 80;
  word-spacing: 3px;
  color: rgb(60, 60, 60);
}

footer {
  background-color: black;
  text-align: center;
  height: 50px;
  font-family: "JetBrains Mono";
  padding-top: 3px;
}
footer li {
  color: white;
  display: inline;
  margin: 5px;
}/*# sourceMappingURL=style.css.map */