*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

nav{
   display:flex;
   justify-content:space-between;
   align-items: center;
   padding:15px;
   font-family: 'Times New Roman', Times, serif;
   position:fixed;
   width:100%;
  background-color: antiquewhite;
  
}

.logo-container{
    margin: 40px;
}

ul{
    margin: 40px;
    display:flex;
    list-style: none;

    a{
        text-decoration: none;
        margin:20px;
        color:black;
    }

}

main{
    background:url(https://webneel.com/daily/sites/default/files/images/daily/08-2018/1-nature-photography-spring-season-mumtazshamsee.jpg);
    background-position:fixed;
    background-size: cover;
    background-repeat:no-repeat;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1{
        font-size: 3rem;
        color: white;
    }

    p{
        max-width: 600px;
        margin:10px;
    }

    button{
        background:transparent;
        cursor:pointer;
        padding: 10px 5px;
    }
}
//background section

.card{
    height: 60vh;
    display: flex;
    justify-content:center;
    align-items:flex-start;
    margin-top: 50px;

 .card-content{
   margin:0 6rem;
   width: 400px;
   height: 20px;
   padding: 20px;
   font-size:large;
   font-family: sans-serif;
  h1{
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
 }
 .card-img{
    width: 400px;
    
   
 }
}
 
