.container {
  height: 50vh;
  background: linear-gradient(to right, #4f2d62, rgb(175, 77, 175));
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: $primary-font;
  ul {
    margin: 20px 40px;
    list-style: none;
    li {
      display: inline;
      margin: 30px;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
